$black: #232323;
$grey: #e6e6e6;
$red: #e38581;
$green: #90c695;
$yellow: #efcc77;

$sophrologue: #4d5286;
$sophrologue_rose: #F6A6B7;
$callteaser: #5071ff;

$redfilter: invert(60%) sepia(46%) saturate(449%) hue-rotate(314deg) brightness(94%) contrast(89%);
$greenfilter: invert(82%) sepia(12%) saturate(841%) hue-rotate(75deg) brightness(88%) contrast(88%);
$yellowfilter: invert(81%) sepia(100%) saturate(335%) hue-rotate(320deg) brightness(98%) contrast(91%);

@font-face {
    font-family: "Harella";
    src: url("../fonts/HarellaDemoRegular.woff2") format("woff2"),
        url("../fonts/HarellaDemoRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Modernist";
    src: url("../fonts/Sk-Modernist-Regular.woff2") format("woff2"),
        url("../fonts/Sk-Modernist-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$title: Harella;
$corps: Modernist;
