.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    background-color: $black;

    @media screen and (min-width: 992px) {
        display: block;
    }

    &__title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    &-infos {
        display: none;
    }

    @media screen and (min-width: 992px) {
        &__content {
            display: flex;
            justify-content: space-between;
        }

        &-infos {
            display: flex;
            flex-direction: column;
            max-width: 40vw;
            gap: 20px;
            margin-top: 40px;

            &__txt {
                font-size: 1.8rem;

                @media screen and (min-width: 1500px) {
                    font-size: 2.2rem;
                }
            }

            &__big {
                color: var(--main-color);
                font-size: 2.4rem;
                font-weight: bold;

                @media screen and (min-width: 1500px) {
                    font-size: 3rem;
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 992px) {
            max-height: 52vh;
            position: relative;
            justify-content: space-evenly;

            @media screen and (min-height: 902px) {
                //height: 50vh;
            }

            height: calc(90vh - 300px);
        }

        &__img {
            display: none;

            @media screen and (min-width: 992px) {
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: calc(-45vh * 0.48);
                max-height: 45vh;
                width: auto;
            }
        }

        &__title {
            display: none;
        }

        &__label {
            width: 75%;
            margin: 2rem;
        }

        &__input {
            background: none;
            border: none;
            border-bottom: 2px solid white;
            display: block;
            width: 75%;
            color: white;
            font-size: 1.6rem;
            font-family: $corps;
            margin-bottom: 20px;
            height: 40px;

            &--msg {
                height: auto;
            }

            &:focus {
                outline: none; //Je sais pas si c'est bien pour la navigation des handicapes
            }
        }

        &__submit {
            background: none;
            margin: auto 0;
            padding: 1.25rem 2.5rem;
            border: 2px solid var(--main-color);
            color: var(--main-color);
            display: block;
            font-family: $corps;
        }

        @media screen and (min-width: 992px) {
            background-color: $grey;
            border-radius: 15px;
            color: #6c6c6c;
            width: 30%;

            &__title {
                display: block;
                color: $black;
                font-size: 2.8rem;
                margin: 2rem;
                font-weight: bold;

                @media screen and (min-width: 1200px) {
                    font-size: 3.6rem;
                    margin: 3rem;
                }

                @media screen and (max-height: 902px) {
                    font-size: 2.8rem;
                    margin: 2rem;
                }
            }

            &__input {
                border-bottom: 2px solid #9e9e9e;
                color: $black;
                font-size: 1.8rem;
                height: 40px;
                font-family: $corps;
                margin: 0;

                &--msg {
                    height: 120px;

                    @media screen and (min-height: 902px) {
                        height: auto;
                    }
                }
            }

            &__submit {
                border-radius: 100vw;
                color: white;
                transition-duration: 200ms;
                border: 2px solid $grey;
                background-color: var(--main-color);
                margin: 10px 0;
                font-size: 1.6rem;

                &:hover {
                    border: 2px solid var(--main-color);
                    color: var(--main-color);
                    background-color: transparent;
                    font-weight: bold;
                }
            
            }
        }
    }

    &-footer {
        background-color: $grey;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-radius: 25px 25px 0 0;
        padding: 1.5rem 0;
        color: black;
        position: relative;
        overflow: hidden;
        align-items: center;

        @media screen and (min-width: 992px) {
            height: 200px;
            width: 100vw;
            position: absolute;
            bottom: 0;
            left: 0;
            flex-direction: row;
            justify-content: center;
            font-size: 18px;
            z-index: -1;

            @media screen and (max-height: 902px) {
                height: 140px;
            }
        }

        &__waves {
            position: absolute;
            width: 300px;

            &--1back {
                top: -140px;
                left: -120px;
                transform: rotate(30deg);
            }

            &--1middle {
                top: -50px;
                left: -200px;
                transform: rotate(-75deg);
            }

            &--1front {
                top: -120px;
                left: -115px;
                transform: rotate(-25deg);
            }

            &--2back {
                bottom: -150px;
                right: -100px;
                transform: rotate(90deg);
            }

            &--2middle {
                bottom: -120px;
                right: -140px;
                transform: rotate(-110deg);
            }

            &--2front {
                bottom: -120px;
                right: -120px;
                transform: rotate(-90deg);
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @media screen and (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr min-content;
                grid-template-rows: 1fr;
                gap: 30px;

                div {
                    align-items: flex-start;
                }
            }
        }

        &__img {
            display: inline-block;
            width: 16%;
            height: auto;
            margin-bottom: 1rem;

            @media screen and (min-width: 992px) {
                width: 80px;
                margin: 0;
            }
        }

        & &__text {
            margin-bottom: 2rem;
            z-index: 1;
            color: $black;
            transition-duration: 200ms;

            &:hover {
                color: var(--main-color);
            }

            @media screen and (min-width: 992px) {
                width: max-content;

                @media screen and (max-height: 902px) {
                    font-size: 1.4rem;
                }
            }
        }

        &__mentions,
        &__mentions:hover,
        &__mentions:visited {
            margin-bottom: 1rem;
            z-index: 1;
            color: $black;
        }

        &__mentions {
            transition-duration: 200ms;

            &:hover {
                color: var(--main-color);
            }

            @media screen and (min-width: 992px) {
                width: max-content;

                @media screen and (max-height: 902px) {
                    font-size: 1.4rem;
                }
            }
        }

        .footer {
            &-menu,
            &-rs {
                display: none;

                @media screen and (min-width: 992px) {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
            }

            &-menu {
                @media screen and (min-width: 992px) {
                    border-left: 1px solid $black;
                    margin-left: 40px;
                    padding-left: 40px;
                    margin-right: 40px;
                    padding-right: 40px;

                    &__title {
                        font-size: 2.4rem;
                        font-weight: bold;
                    }

                    &__list {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        gap: 6px 30px;
                    }

                    &__ele {
                        transition-duration: 200ms;

                        &:hover {
                            color: var(--main-color);
                            cursor: pointer;
                        }
                    }

                    @media screen and (max-height: 902px) {
                        &__title {
                            font-size: 1.8rem;
                            font-weight: bold;
                        }

                        &__ele {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            &-rs {
                @media screen and (min-width: 992px) {
                    &__title {
                        font-size: 2.4rem;

                        span {
                            font-weight: bold;
                        }
                    }

                    &__list {
                        display: flex;
                        gap: 16px;
                    }

                    &__ele {
                        width: 40px;
                        height: 40px;
                        background-color: $black;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    @media screen and (max-height: 902px) {
                        &__title {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
