.header {
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 20;
        background-color: transparent;
        //background: rgb(35,35,35);
        //background: linear-gradient(0deg, rgba(35,35,35,0.8603816526610644) 0%, rgba(35,35,35,1) 50%);
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 80px;
    }

    &__logo {
        width: 7.5%;
        max-width: 80px;
        filter: invert(100%);
        position: fixed;
        top: 10px;
        left: 30px;
        z-index: 5;

        &--desktop {
            display: none;
            width: auto;
            height: 100px;
            max-width: none;
        }

        @media screen and (min-width: 992px) {
            position: static;

            &--mobile {
                display: none;
            }

            &--desktop {
                display: inline-block;
                cursor: pointer;
                height: 75px;
            }
        }
    }

    &__burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 20;
        top: 26px;
        right: 30px;

        @media screen and (min-width: 992px) {
            display: none;
        }

        span {
            display: inline-block;
            background-color: white;
            height: 0.3rem;
            border-radius: 1px;
            transition: all 0.5s;

            &:first-child {
                width: 22px;
                height: 0.3rem;
            }
            &:nth-child(2) {
                width: 30px;
                margin: 5px 0 5.5px 0;
            }
            &:last-child {
                width: 22px;
                height: 0.35rem;
            }
        }
    }

    &__shadow {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        pointer-events: none;
        background-color: rgba($color: #000000, $alpha: 0);
        transition: all 1s;
    }

    &__input:checked ~ &__shadow {
        pointer-events: initial;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    &__input:checked ~ .navigation {
        right: 0;
    }

    &__input:checked ~ &__burger {
        span {
            &:first-child {
                display: inline-block;
                width: 13px;
                transform: translateY(5px) translateX(9px) rotate(40deg);
            }
            &:nth-child(2) {
                width: 22px;
                transform: translateX(3px);
            }
            &:last-child {
                width: 13px;
                transform: translateY(-5px) translateX(9px) rotate(-40deg);
            }
        }
    }

    .navigation {
        z-index: 15;
        display: flex;
        flex-direction: column;
        width: 50vw;
        max-width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50vw;
        background-color: $black;
        transition: all 1s;

        @media screen and (min-width: 992px) {
            position: static;
            width: auto;
            height: auto;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            z-index: auto;
            order: 1;
        }

        &-list {
            margin-top: 10vh;
            height: 100%;

            @media screen and (min-width: 992px) {
                margin: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 80px;
            }

            &__element {
                text-align: right;
                margin: 4rem 2rem;
                cursor: pointer;

                @media screen and (min-width: 992px) {
                    margin: 0;
                    font-size: 18px;
                }
            }
        }

        &__img {
            align-self: flex-end;
            width: auto;
            max-width: 200px;
            padding: 3rem;
            filter: invert(100%);

            @media screen and (min-width: 992px) {
                display: none;
            }
        }
    }
}
