@keyframes loop {
    40% {
        color: $black;
    }
    60% {
        color: $grey;
    }
    100% {
        color: $black;
    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        gap: 5vw;
        justify-content:space-between
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 992px) {
            position: relative;

            .home {
                &__title {
                    position: absolute;
                    font-size: 2.4rem;
                    right: 0;
                    bottom: -138px;

                    @media screen and (min-width: 1200px) {
                        bottom: -100px;
                        right: -58px
                    }
                }

                &__blur {
                    width: 20vw;
                    height: 20vw;
                    filter: blur(10rem);

                    &--left {
                        left: -75px;
                        top: -75px;
                    }

                    &--right {
                        top: auto;
                        right: -30px;
                        bottom: -45px;
                    }
                }
            }
        }
    }

    &__desktop {
        display: none;

        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: column;

            h2 {
                text-align: left;
                font: {
                    family: $title;
                    size: 3.6rem;
                    weight: bold;
                }
            }

            p {
                width: 48vw;
                margin: 20px 0 40px;
                font-size: 1.8rem;
                line-height: 2rem;

                .line-break {
                    margin: 16px 0;
                }
            }
        }
    }

    &__blur {
        width: 40vw;
        height: 40vw;
        position: absolute;
        border-radius: 50%;
        filter: blur(6rem);
        z-index: -1;
        background-color: var(--main-color);

        &--left {
            left: -15vw;
            top: 20vh;
        }

        &--right {
            right: -7.5vw;
            top: 35vh;
        }
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    &__logo {
        filter: invert(100%);
        width: 75%;

        @media screen and (min-width: 1200px) {
            width: 25vw;
            max-width: 550px;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-wrap: break-word;
        font-size: 3rem;
        font-family: $corps;
        height: 25vh;
    }

    & &__button {
        line-height: 3rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        border-radius: 100vw;
        padding: 1rem 3rem;
        color: $black;
        background-color: var(--main-color);
        border: 2px solid $black;
        transition-duration: 200ms;

        &--desktop {
            display: none;
        }

        @media screen and (min-width: 992px) {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
                width: fit-content;
                color: white;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    border: 2px solid var(--main-color);
                    color: var(--main-color);
                    background-color: transparent;
                    font-weight: bold;
                }
            }
        }
    }

    &-helper {
        display: flex;
        align-items: center;
        gap: 2px;
        transition: 0.4s;
        position: absolute;
        bottom: 5vh;

        @media screen and (min-width: 992px) {
            display: none;
        }

        .startAnimation {
            animation: loop 1s linear;
        }

        &__arrow {
            font-size: 2rem;
            color: $black;

            &:nth-child(8) {
                animation-delay: 0.2s;
            }
            &:nth-child(7) {
                animation-delay: 0.4s;
            }
            &:nth-child(6) {
                animation-delay: 0.6s;
            }
            &:nth-child(5) {
                animation-delay: 0.8s;
            }
            &:nth-child(4) {
                animation-delay: 1s;
            }
            &:nth-child(3) {
                animation-delay: 1.2s;
            }
            &:nth-child(2) {
                animation-delay: 1.4s;
            }
            &:nth-child(1) {
                animation-delay: 1.6s;
            }
        }
    }
}
