.mentions-legales {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    height: 85px;
    width: 100%;
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  
    @media screen and (min-width: 992px) {
      height: 115px;
    }
  }

  .mentions {
    padding: 0 30px;
    margin-top: 85px;
  
    @media screen and (min-width: 992px) {
      margin-top: 125px;
      padding: 0 58px;
    }
  
    h1 {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 40px;
    }
  
    article {
      padding-bottom: 30px;
  
      h2 {
        font-family: 'Modernist';
        font-size: 24px;
        text-align: left;
        font-weight: bold;
      }
  
      p {
        line-height: 20px;
      }
  
      .spacing {
        display: block;
        margin-top: 10px;
      }
    }
  
    .rgpd {
  
      p {
        padding: 6px 0;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .contact-footer {
      width: auto;
      position: relative;
      bottom: -2px;
    }
  }
}