@mixin pageTitle {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: $black;
    z-index: 1;
    padding: 1.5rem;
    margin-top: 0;

    &__img {
        width: 35%;

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &__text {
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    @media screen and (min-width: 992px) {
        text-align: left;
        padding: 0;
        font-family: $corps;
        background: none;
        font-weight: bold;
        font-size: 3.6rem;
    }
}

@mixin pageDesc {
    display: none;

    @media screen and (min-width: 992px) {
        display: block;
        margin-bottom: 4.8rem;
        width: 64%;
        font-size: 1.6rem;
    }

    @media screen and (min-width: 1100px) {
    }

    @media screen and (min-width: 1400px) and (min-height:800px) {
        font-size: 1.8rem;
    }
}
