@keyframes infoTransitionIn {
    from {
        display: flex;
        right: -500vw;
    }

    to {
        display: flex;
        right: -400vw;
    }
}

@keyframes infoTransitionOut {
    from {
        display: flex;
        right: -400vw;
    }

    to {
        display: none;
        right: -500vw;
    }
}

.projects {
    &__title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    @media screen and (min-width: 992px) {
        display: none;

        &__list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: calc(45vh - 300px);
        }
    }

    .project {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;

            figcaption {
                width: 100%;
            }
        }

        &__img {
            border-radius: 22px;
            margin-bottom: 2rem;
            max-width: 400px;
            width: 100%;
        }

        &__title {
            font-size: 2rem;
        }

        &__input:checked ~ .info-project {
            display: flex;
            right: -400vw;
            animation-name: infoTransitionIn;
        }

        &__input:not(:checked) ~ .info-project {
            animation-name: infoTransitionOut;
        }

        .info-project {
            z-index: 10;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -500vw;
            animation-duration: 0.5s;
            background-color: #ffffff;
            color: #000000;

            &__header {
                height: 20vw;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-shrink: 0;
                padding-right: 3rem;
                border-radius: 0 0 5vw 5vw;

                &--callteaser {
                    background-color: $callteaser;
                }

                &--sophrologue {
                    background-color: $sophrologue;
                }
            }

            &__back {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 20;

                span {
                    display: inline-block;
                    background-color: white;
                    height: 0.3rem;
                    border-radius: 1px;

                    &:first-child {
                        width: 13px;
                        transform: translateY(7px) translateX(9px) rotate(-40deg);
                    }
                    &:nth-child(2) {
                        width: 22px;
                        transform: translateX(2px);
                    }
                    &:last-child {
                        height: 0.35rem;
                        width: 13px;
                        transform: translateY(-7px) translateX(9px) rotate(40deg);
                    }
                }
            }

            &__article {
                padding: 3rem;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
            }

            &__title {
                font-size: 2.4rem;
                font-weight: bold;

                &--callteaser {
                    color: $callteaser;
                }

                &--sophrologue {
                    color: $sophrologue;
                }
            }

            &__link {
                color: #000000;
                align-self: flex-end;
                margin-top: 1rem;
            }

            &__logo {
                width: 100%;
                height: calc((100vw - 60px) / 1.5);
                border-radius: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;

                &--callteaser {
                    background-color: $callteaser;
                }

                &--sophrologue {
                    background-color: $sophrologue;
                }
            }

            &__mockup {
                border-radius: 3vw;
            }

            &__type {
                font-size: 2rem;
                font-weight: bold;
                margin: 3rem 0;
            }

            .tags-project {
                margin-top: 5rem;
                display: flex;
                gap: 3rem;
                flex-direction: column;

                .tag-project {
                    display: flex;
                    gap: 1rem;

                    &__title {
                        font-weight: bold;
                        font-size: 1.8rem;
                        margin-bottom: 1rem;
                    }

                    &__icon {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}



.sophrologue,
.callteaser {
    display: none;

    @media screen and (min-width: 992px) {
        display: block;

        &__title {
            font-size: 2.8rem;
            width: fit-content;
            margin-bottom: 10px;

            span {
                display: block;
                height: 14px;
                z-index:-1;
                position: relative;
                top: -10px;
                left: -8px;
            }

            .s {
                background-color: $sophrologue_rose;
                width: 66%;
            }
            .c {
                background-color: $callteaser;
                width: 80%;
            }
        }

        .content {
            display: flex;
            gap: 40px;
            margin-top: calc(35vh - 255px);

            &__imgs {
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    border-radius: 20px;
                    max-height: 30vh;
                    align-self: center;
                }
            }

            &-desc {
                display: flex;
                flex-direction: column;
                align-items: space-between;
                justify-content: space-between;
                
                &__title {
                    font-size: 3.2rem;
                    font-weight: bold; 

                    .year {
                        display: block;
                        margin-bottom: 10px;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }

                &__desc {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    margin-bottom: 100px;
                    max-width: 700px;
                }

                .point {
                    display: flex;
                    gap: 16px;

                    &__img {
                        align-self: center;
                    }

                    &__desc {
                        display: flex;
                        flex-direction: column;
                        max-width: 220px;
                        gap: 10px;

                        p {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}