/*
.services {
    
    &__title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: center;
            gap: 3.6rem;
        }
        @media screen and (min-width: 1200px) {
            // gap: 5rem;
        }

        .article {
            overflow: hidden;
            position: relative;
            margin-bottom: 50px;
            border-radius: 15px;
            background-color: $grey;
            color: $black;

            @media screen and (min-width: 992px) {
                width: 300px;
                height: 410px;
                margin: 0;
            }

            @media screen and (min-width: 1200px) and (min-height: 950px) {
                height: 56vh;
                width: 350px;
            }

            @media screen and (min-width: 1400px) and (min-height: 1100px) {
                height: 50vh;
                width: 380px;
            }

            @media screen and (min-width: 1800px) and (min-height: 1500px) {
                height: 55vh;
                width: 550px;
            }

            &__img {
                margin-top: 0.5rem;
                width: 100%;
            }

            &__desc {
                .article__title {
                    font-size: 1.8rem;
                    font-weight: bold;
                    border-top-right-radius: 100vw;
                    border-bottom-right-radius: 100vw;
                    width: 85%;
                    line-height: 3rem;
                    padding-left: 1.5rem;
                    transform: translateY(-15px);

                    @media screen and (min-width: 992px) {
                        font-size: 1.8rem;
                        width: fit-content;
                        padding-right: 1.5rem;
                    }

                    @media screen and (min-width: 1200px) and (min-height: 950px) {
                        font-size: 2.2rem;
                        padding: 4px 20px;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 1500px) {    
                        font-size: 3rem;
                        padding: 10px 20px;
                    }

                    &--green {
                        background-color: $green;
                    }

                    &--red {
                        background-color: $red;
                    }

                    &--yellow {
                        background-color: $yellow;
                    }
                }

                .article__text {
                    margin: 0 1.5rem 2rem 1.5rem;

                    @media screen and (min-width: 992px) {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }

                    @media screen and (min-width: 1200px) and (min-height: 950px) {
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                    }

                    @media screen and (min-width: 1400px) and (min-height: 1100px) {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 1500px) {
                        font-size: 3rem;
                        line-height: 3.8rem;
                    }
        

                }
            }
        }
    }

    &__item {
        width: 80%;

        @media screen and (min-width: 1200px) {
           width: fit-content;
           display: flex;
           justify-content: center;
        }
    }
}
*/

.services {
    &-title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: center;
            gap: 3.6rem;
        }
        /*@media screen and (min-width: 1200px) {
            // gap: 5rem;
        }*/

        .article {
            overflow: hidden;
            position: relative;
            margin-bottom: 50px;
            border-radius: 15px;
            background-color: $grey;
            color: $black;

            @media screen and (min-width: 992px) {
                width: calc(10vw + 150px);
                height: calc(37vh + 150px);
                margin: 0;
            }

            /*@media screen and (min-width: 1200px) and (min-height: 950px) {
                height: fit-content;
                width: 350px;
            }

            @media screen and (min-width: 1400px) and (min-height: 1100px) {
                height: fit-content;
                width: 380px;
                margin-top: 10vh;
            }

            @media screen and (min-width: 1800px) and (min-height: 1500px) {
                height: fit-content;
                width: 550px;
            }*/

            &__img {
                margin-top: 0.5rem;
                width: 100%;
            }

            &__desc {
                .article__title {
                    font-size: 1.8rem;
                    font-weight: bold;
                    border-top-right-radius: 100vw;
                    border-bottom-right-radius: 100vw;
                    width: 85%;
                    line-height: 3rem;
                    padding-left: 1.5rem;
                    transform: translateY(-15px);

                    @media screen and (min-width: 992px) {
                        font-size: 2rem;
                        width: fit-content;
                        padding-right: 1.5rem;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 937px) {
                        font-size: 2.2rem;
                        padding: 5px 20px;
                    }

                    &--green {
                        background-color: $green;
                    }

                    &--red {
                        background-color: $red;
                    }

                    &--yellow {
                        background-color: $yellow;
                    }
                }

                .article__text {
                    margin: 0 1.5rem 2rem 1.5rem;

                    @media screen and (min-width: 992px) {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }

                    @media screen and (min-width: 1400px) and (min-height: 800px) {
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 1080px) {
                        font-size: 2.2rem;
                        line-height: 2.4rem;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            margin-top: calc(35vh - 255px);
        }
    }

    &__item {
        width: 80%;

        @media screen and (min-width: 1200px) {
            width: fit-content;
            display: flex;
            justify-content: center;
        }
    }
}
