.team {
    &__title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 3rem 3rem;

        @media screen and (min-width: 992px) {
            margin-top: calc(35vh - 255px);
        }

        .team__item {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .member {
            &__identity {
                display: flex;
                align-items: center;
                gap: 2rem;

                &--reverse {
                    flex-direction: row-reverse;
                    text-align: right;
                }
            }

            &__img {
                width: 8rem;

                background-color: rgba(144, 198, 149, 0.12);
                border-radius: 100vw;
                box-shadow: 0 0 75px 0 rgba(144, 198, 149, 0.3);

                &--red {
                    background-color: rgba(227, 133, 129, 0.12);
                    box-shadow: 0 0 75px 0 rgba(227, 133, 129, 0.3);
                }

                &--yellow {
                    background-color: rgba(239, 204, 119, 0.12);
                    box-shadow: 0 0 75px 0 rgba(239, 204, 119, 0.3);
                }

                &--miror {
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            

            &__name {
                font-size: 2rem;
                line-height:3rem;
                font-weight: bold;
            }

            &__job {
                font-size: 1.6rem;
            }

            &__text {
                font-size: 1.6rem;
                margin-top: 2rem;
            }
        }

        @media screen and (min-width: 992px) {
            display: flex;
            align-items: center;
            gap: 1vh;

            .team__item {
                justify-content: space-between;
                width: calc(300px + 50vw);
                flex-direction: row;
                gap: 0;

                &:last-child {

                    .member {

                        &__identity {
                            flex-direction: row-reverse;
                            text-align: right;
                        }

                        &__img {
                            transform: scaleX(1);
                        }
                    }
                    

                    .member:first-child {

                        .member__identity {
                            flex-direction: row;
                            text-align: left;
                        }

                        .member__img {
                            transform: scaleX(1);
                        }
                    }
                }
            }

            .member {
                width: 300px;

                &__img {
                    width: calc(3rem + 5vh);
                }

                &--moad {
                    align-self: center;
                }
            }
        }
    }
}
