.values {
  &__title {
    @include pageTitle;
  }

  &__desc {
    @include pageDesc;
  }

  position: relative;

  &__shadow {
    background-color: var(--main-color);
    position: fixed;
    bottom: -18vh;
    //left: 200vw;
    z-index: -1;
    width: 80vw;
    height: 50vw;
    filter: blur(7rem);

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &-switch {
    background: $grey;
    border-radius: 10px;
    overflow: hidden;
    width: 316px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: $grey;
    position: relative;
    padding-right: 150px;
    position: relative;
    border: 7px solid $grey;
    margin: 0 auto 40px;

    @media screen and (min-width: 992px) {
      display: none;
    }

    &:before {
      content: "Détails";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      pointer-events: none;
      transition: transform 300ms linear;
    }

    &--value:before {
      color: grey;
    }

    &__checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      margin: 0;

      &:checked + .values-switch__label {
        color: grey;
      }

      &:checked + .values-switch__label:before {
        transform: translateX(150px);
        transition: transform 300ms linear;
      }

      & + .values-switch__label {
        position: relative;
        padding: 12px 0;
        display: block;
        user-select: none;
        pointer-events: none;

        &:before {
          content: "";
          background: var(--main-color);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 10px;
          transform: translateX(0);
          transition: transform 300ms;
        }
      }
    }

    &__span {
      position: relative;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8vh 0;

    @media screen and (min-width: 992px) {
      margin-top: calc(35vh - 255px);
      gap: 1vh 0;
    }
    @media screen and (min-width: 1400px) and (min-height:800px) {
      gap: 6vh 0;
    }

    &__ele {
      display: flex;
      justify-content: center;

      .value {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        div {
          width: 75px;
          height: 75px;
          background-color: var(--main-color);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px;
        }

        &__title {
          font-size: 1.8rem;
          font-weight: bold;
        }

        &__text {
          display: none;
          font-size: 1.4rem;
        }
      }

      @media screen and (min-width: 992px) {
        flex-direction: column;
        padding: 0 30px;
        margin-bottom: 40px;
        max-width: 500px;

        .value {
          flex-direction: row;

          div {
            flex-shrink: 0;
            width: 90px;
            height: 90px;
            padding: 14px;
          }

          &__text {
            display: block;
            margin-top: 10px;
          }
        }
      }

      @media screen and (min-width: 1400px) and (min-height: 800px) {
        margin: 0 auto;

        .value {
          div {
            width: 11vh;
            height: 11vh;
          }

          &__title {
            font-size: 2.2rem;
          }

          &__text {
            font-size: 1.6rem;
            line-height: 1.6rem;
          }
        }
      }
    }

    &--desc {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      margin-bottom: 100px;

      .value {
        flex-direction: row;

        div {
          flex-shrink: 0;
        }

        &__text {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
