@import "mixins";
@import "color";
@import "reset";
@import "base";

@import "header";
@import "index";
@import "services";
@import "values";
@import "team";
@import "projects";
@import "contact";
@import "mentions";

body {
    background-color: $black;
    color: white;
    font-family: $corps;
    font-size: 1.6rem;
}

h2 {
    font-family: $title;
    font-size: 2.6rem;
    text-align: center;
    margin: 2rem 0;
}

main {
    position: relative;
}

button,
a {
    cursor: pointer;
}

.scroll {
    overflow: hidden;
    width: 100%;

    &__dots {
        display: none;
    }

    @media screen and (min-width: 992px) {
        &__dots {
            position: fixed;
            left: 2vh;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5vh;
        }

        &__dot {
            background-color: $grey;
            padding: 0;
            height: 1.5vh;
            width: 1.5vh;
            border: 2px solid $grey;
            border-radius: 100vmax;
            transition-duration: 500ms;
            transition-property: background-color;
        }

        &__dot.is-selected {
            background-color: transparent;
            transition-duration: 500ms;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
    }
}

.page {
    min-width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.line-break {
    display: block;
}

@media screen and (min-width: 992px) {
    .scroll__container {
        height: 100vh;
        display: block;
    }

    .page {
        position: relative;
        overflow-y: auto;
        min-width: auto;
        padding: 120px 7vw 0;
    }
}

@media screen and (min-width: 1200px) {
    .page {
        padding: 140px 10vw 0;
    }
}
