@charset "UTF-8";
@font-face {
  font-family: "Harella";
  src: url("../fonts/HarellaDemoRegular.woff2") format("woff2"), url("../fonts/HarellaDemoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Modernist";
  src: url("../fonts/Sk-Modernist-Regular.woff2") format("woff2"), url("../fonts/Sk-Modernist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regles generales */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a,
a:hover,
a:visited {
  /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;
    background-color: transparent;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 30px 80px;
  }
}
.header__logo {
  width: 7.5%;
  max-width: 80px;
  filter: invert(100%);
  position: fixed;
  top: 10px;
  left: 30px;
  z-index: 5;
}
.header__logo--desktop {
  display: none;
  width: auto;
  height: 100px;
  max-width: none;
}
@media screen and (min-width: 992px) {
  .header__logo {
    position: static;
  }
  .header__logo--mobile {
    display: none;
  }
  .header__logo--desktop {
    display: inline-block;
    cursor: pointer;
    height: 75px;
  }
}
.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 20;
  top: 26px;
  right: 30px;
}
@media screen and (min-width: 992px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  display: inline-block;
  background-color: white;
  height: 0.3rem;
  border-radius: 1px;
  transition: all 0.5s;
}
.header__burger span:first-child {
  width: 22px;
  height: 0.3rem;
}
.header__burger span:nth-child(2) {
  width: 30px;
  margin: 5px 0 5.5px 0;
}
.header__burger span:last-child {
  width: 22px;
  height: 0.35rem;
}
.header__shadow {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s;
}
.header__input:checked ~ .header__shadow {
  pointer-events: initial;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__input:checked ~ .navigation {
  right: 0;
}
.header__input:checked ~ .header__burger span:first-child {
  display: inline-block;
  width: 13px;
  transform: translateY(5px) translateX(9px) rotate(40deg);
}
.header__input:checked ~ .header__burger span:nth-child(2) {
  width: 22px;
  transform: translateX(3px);
}
.header__input:checked ~ .header__burger span:last-child {
  width: 13px;
  transform: translateY(-5px) translateX(9px) rotate(-40deg);
}
.header .navigation {
  z-index: 15;
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -50vw;
  background-color: #232323;
  transition: all 1s;
}
@media screen and (min-width: 992px) {
  .header .navigation {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    z-index: auto;
    order: 1;
  }
}
.header .navigation-list {
  margin-top: 10vh;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .header .navigation-list {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
  }
}
.header .navigation-list__element {
  text-align: right;
  margin: 4rem 2rem;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header .navigation-list__element {
    margin: 0;
    font-size: 18px;
  }
}
.header .navigation__img {
  align-self: flex-end;
  width: auto;
  max-width: 200px;
  padding: 3rem;
  filter: invert(100%);
}
@media screen and (min-width: 992px) {
  .header .navigation__img {
    display: none;
  }
}

@keyframes loop {
  40% {
    color: #232323;
  }
  60% {
    color: #e6e6e6;
  }
  100% {
    color: #232323;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .home {
    flex-direction: row;
    gap: 5vw;
    justify-content: space-between;
  }
}
.home__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .home__mobile {
    position: relative;
  }
  .home__mobile .home__title {
    position: absolute;
    font-size: 2.4rem;
    right: 0;
    bottom: -138px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .home__mobile .home__title {
    bottom: -100px;
    right: -58px;
  }
}
@media screen and (min-width: 992px) {
  .home__mobile .home__blur {
    width: 20vw;
    height: 20vw;
    filter: blur(10rem);
  }
  .home__mobile .home__blur--left {
    left: -75px;
    top: -75px;
  }
  .home__mobile .home__blur--right {
    top: auto;
    right: -30px;
    bottom: -45px;
  }
}
.home__desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .home__desktop {
    display: flex;
    flex-direction: column;
  }
  .home__desktop h2 {
    text-align: left;
    font-family: Modernist;
    font-size: 3.6rem;
    font-weight: bold;
  }
  .home__desktop p {
    width: 48vw;
    margin: 20px 0 40px;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .home__desktop p .line-break {
    margin: 16px 0;
  }
}
.home__blur {
  width: 40vw;
  height: 40vw;
  position: absolute;
  border-radius: 50%;
  filter: blur(6rem);
  z-index: -1;
  background-color: var(--main-color);
}
.home__blur--left {
  left: -15vw;
  top: 20vh;
}
.home__blur--right {
  right: -7.5vw;
  top: 35vh;
}
.home h1 {
  display: flex;
  justify-content: center;
}
.home__logo {
  filter: invert(100%);
  width: 75%;
}
@media screen and (min-width: 1200px) {
  .home__logo {
    width: 25vw;
    max-width: 550px;
  }
}
.home__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 3rem;
  font-family: Modernist;
  height: 25vh;
}
.home .home__button {
  line-height: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  border-radius: 100vw;
  padding: 1rem 3rem;
  color: #232323;
  background-color: var(--main-color);
  border: 2px solid #232323;
  transition-duration: 200ms;
}
.home .home__button--desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .home .home__button--mobile {
    display: none;
  }
  .home .home__button--desktop {
    display: block;
    width: fit-content;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .home .home__button--desktop:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    font-weight: bold;
  }
}
.home-helper {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: 0.4s;
  position: absolute;
  bottom: 5vh;
}
@media screen and (min-width: 992px) {
  .home-helper {
    display: none;
  }
}
.home-helper .startAnimation {
  animation: loop 1s linear;
}
.home-helper__arrow {
  font-size: 2rem;
  color: #232323;
}
.home-helper__arrow:nth-child(8) {
  animation-delay: 0.2s;
}
.home-helper__arrow:nth-child(7) {
  animation-delay: 0.4s;
}
.home-helper__arrow:nth-child(6) {
  animation-delay: 0.6s;
}
.home-helper__arrow:nth-child(5) {
  animation-delay: 0.8s;
}
.home-helper__arrow:nth-child(4) {
  animation-delay: 1s;
}
.home-helper__arrow:nth-child(3) {
  animation-delay: 1.2s;
}
.home-helper__arrow:nth-child(2) {
  animation-delay: 1.4s;
}
.home-helper__arrow:nth-child(1) {
  animation-delay: 1.6s;
}

/*
.services {

    &__title {
        @include pageTitle;
    }

    &__desc {
        @include pageDesc;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: center;
            gap: 3.6rem;
        }
        @media screen and (min-width: 1200px) {
            // gap: 5rem;
        }

        .article {
            overflow: hidden;
            position: relative;
            margin-bottom: 50px;
            border-radius: 15px;
            background-color: $grey;
            color: $black;

            @media screen and (min-width: 992px) {
                width: 300px;
                height: 410px;
                margin: 0;
            }

            @media screen and (min-width: 1200px) and (min-height: 950px) {
                height: 56vh;
                width: 350px;
            }

            @media screen and (min-width: 1400px) and (min-height: 1100px) {
                height: 50vh;
                width: 380px;
            }

            @media screen and (min-width: 1800px) and (min-height: 1500px) {
                height: 55vh;
                width: 550px;
            }

            &__img {
                margin-top: 0.5rem;
                width: 100%;
            }

            &__desc {
                .article__title {
                    font-size: 1.8rem;
                    font-weight: bold;
                    border-top-right-radius: 100vw;
                    border-bottom-right-radius: 100vw;
                    width: 85%;
                    line-height: 3rem;
                    padding-left: 1.5rem;
                    transform: translateY(-15px);

                    @media screen and (min-width: 992px) {
                        font-size: 1.8rem;
                        width: fit-content;
                        padding-right: 1.5rem;
                    }

                    @media screen and (min-width: 1200px) and (min-height: 950px) {
                        font-size: 2.2rem;
                        padding: 4px 20px;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 1500px) {    
                        font-size: 3rem;
                        padding: 10px 20px;
                    }

                    &--green {
                        background-color: $green;
                    }

                    &--red {
                        background-color: $red;
                    }

                    &--yellow {
                        background-color: $yellow;
                    }
                }

                .article__text {
                    margin: 0 1.5rem 2rem 1.5rem;

                    @media screen and (min-width: 992px) {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }

                    @media screen and (min-width: 1200px) and (min-height: 950px) {
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                    }

                    @media screen and (min-width: 1400px) and (min-height: 1100px) {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                    }

                    @media screen and (min-width: 1800px) and (min-height: 1500px) {
                        font-size: 3rem;
                        line-height: 3.8rem;
                    }


                }
            }
        }
    }

    &__item {
        width: 80%;

        @media screen and (min-width: 1200px) {
           width: fit-content;
           display: flex;
           justify-content: center;
        }
    }
}
*/
.services-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #232323;
  z-index: 1;
  padding: 1.5rem;
  margin-top: 0;
}
.services-title__img {
  width: 35%;
}
@media screen and (min-width: 992px) {
  .services-title__img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .services-title__text {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .services-title {
    text-align: left;
    padding: 0;
    font-family: Modernist;
    background: none;
    font-weight: bold;
    font-size: 3.6rem;
  }
}
.services__desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .services__desc {
    display: block;
    margin-bottom: 4.8rem;
    width: 64%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .services__desc {
    font-size: 1.8rem;
  }
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*@media screen and (min-width: 1200px) {
      // gap: 5rem;
  }*/
}
@media screen and (min-width: 992px) {
  .services__list {
    flex-direction: row;
    justify-content: center;
    gap: 3.6rem;
  }
}
.services__list .article {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: #e6e6e6;
  color: #232323;
  /*@media screen and (min-width: 1200px) and (min-height: 950px) {
      height: fit-content;
      width: 350px;
  }

  @media screen and (min-width: 1400px) and (min-height: 1100px) {
      height: fit-content;
      width: 380px;
      margin-top: 10vh;
  }

  @media screen and (min-width: 1800px) and (min-height: 1500px) {
      height: fit-content;
      width: 550px;
  }*/
}
@media screen and (min-width: 992px) {
  .services__list .article {
    width: calc(10vw + 150px);
    height: calc(37vh + 150px);
    margin: 0;
  }
}
.services__list .article__img {
  margin-top: 0.5rem;
  width: 100%;
}
.services__list .article__desc .article__title {
  font-size: 1.8rem;
  font-weight: bold;
  border-top-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  width: 85%;
  line-height: 3rem;
  padding-left: 1.5rem;
  transform: translateY(-15px);
}
@media screen and (min-width: 992px) {
  .services__list .article__desc .article__title {
    font-size: 2rem;
    width: fit-content;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 1800px) and (min-height: 937px) {
  .services__list .article__desc .article__title {
    font-size: 2.2rem;
    padding: 5px 20px;
  }
}
.services__list .article__desc .article__title--green {
  background-color: #90c695;
}
.services__list .article__desc .article__title--red {
  background-color: #e38581;
}
.services__list .article__desc .article__title--yellow {
  background-color: #efcc77;
}
.services__list .article__desc .article__text {
  margin: 0 1.5rem 2rem 1.5rem;
}
@media screen and (min-width: 992px) {
  .services__list .article__desc .article__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .services__list .article__desc .article__text {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1800px) and (min-height: 1080px) {
  .services__list .article__desc .article__text {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .services__list {
    margin-top: calc(35vh - 255px);
  }
}
.services__item {
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .services__item {
    width: fit-content;
    display: flex;
    justify-content: center;
  }
}

.values {
  position: relative;
}
.values__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #232323;
  z-index: 1;
  padding: 1.5rem;
  margin-top: 0;
}
.values__title__img {
  width: 35%;
}
@media screen and (min-width: 992px) {
  .values__title__img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .values__title__text {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .values__title {
    text-align: left;
    padding: 0;
    font-family: Modernist;
    background: none;
    font-weight: bold;
    font-size: 3.6rem;
  }
}
.values__desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .values__desc {
    display: block;
    margin-bottom: 4.8rem;
    width: 64%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .values__desc {
    font-size: 1.8rem;
  }
}
.values__shadow {
  background-color: var(--main-color);
  position: fixed;
  bottom: -18vh;
  z-index: -1;
  width: 80vw;
  height: 50vw;
  filter: blur(7rem);
}
@media screen and (min-width: 992px) {
  .values__shadow {
    display: none;
  }
}
.values-switch {
  background: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  width: 316px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #e6e6e6;
  position: relative;
  padding-right: 150px;
  position: relative;
  border: 7px solid #e6e6e6;
  margin: 0 auto 40px;
}
@media screen and (min-width: 992px) {
  .values-switch {
    display: none;
  }
}
.values-switch:before {
  content: "Détails";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
  transition: transform 300ms linear;
}
.values-switch--value:before {
  color: grey;
}
.values-switch__checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  margin: 0;
}
.values-switch__checkbox:checked + .values-switch__label {
  color: grey;
}
.values-switch__checkbox:checked + .values-switch__label:before {
  transform: translateX(150px);
  transition: transform 300ms linear;
}
.values-switch__checkbox + .values-switch__label {
  position: relative;
  padding: 12px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.values-switch__checkbox + .values-switch__label:before {
  content: "";
  background: var(--main-color);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transform: translateX(0);
  transition: transform 300ms;
}
.values-switch__span {
  position: relative;
}
.values-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vh 0;
}
@media screen and (min-width: 992px) {
  .values-list {
    margin-top: calc(35vh - 255px);
    gap: 1vh 0;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .values-list {
    gap: 6vh 0;
  }
}
.values-list__ele {
  display: flex;
  justify-content: center;
}
.values-list__ele .value {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.values-list__ele .value div {
  width: 75px;
  height: 75px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.values-list__ele .value__title {
  font-size: 1.8rem;
  font-weight: bold;
}
.values-list__ele .value__text {
  display: none;
  font-size: 1.4rem;
}
@media screen and (min-width: 992px) {
  .values-list__ele {
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 40px;
    max-width: 500px;
  }
  .values-list__ele .value {
    flex-direction: row;
  }
  .values-list__ele .value div {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    padding: 14px;
  }
  .values-list__ele .value__text {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .values-list__ele {
    margin: 0 auto;
  }
  .values-list__ele .value div {
    width: 11vh;
    height: 11vh;
  }
  .values-list__ele .value__title {
    font-size: 2.2rem;
  }
  .values-list__ele .value__text {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
.values-list--desc {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-bottom: 100px;
}
.values-list--desc .value {
  flex-direction: row;
}
.values-list--desc .value div {
  flex-shrink: 0;
}
.values-list--desc .value__text {
  display: block;
  margin-top: 10px;
}

.team__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #232323;
  z-index: 1;
  padding: 1.5rem;
  margin-top: 0;
}
.team__title__img {
  width: 35%;
}
@media screen and (min-width: 992px) {
  .team__title__img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .team__title__text {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .team__title {
    text-align: left;
    padding: 0;
    font-family: Modernist;
    background: none;
    font-weight: bold;
    font-size: 3.6rem;
  }
}
.team__desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .team__desc {
    display: block;
    margin-bottom: 4.8rem;
    width: 64%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .team__desc {
    font-size: 1.8rem;
  }
}
.team__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 3rem 3rem;
}
@media screen and (min-width: 992px) {
  .team__list {
    margin-top: calc(35vh - 255px);
  }
}
.team__list .team__item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.team__list .member__identity {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.team__list .member__identity--reverse {
  flex-direction: row-reverse;
  text-align: right;
}
.team__list .member__img {
  width: 8rem;
  background-color: rgba(144, 198, 149, 0.12);
  border-radius: 100vw;
  box-shadow: 0 0 75px 0 rgba(144, 198, 149, 0.3);
}
.team__list .member__img--red {
  background-color: rgba(227, 133, 129, 0.12);
  box-shadow: 0 0 75px 0 rgba(227, 133, 129, 0.3);
}
.team__list .member__img--yellow {
  background-color: rgba(239, 204, 119, 0.12);
  box-shadow: 0 0 75px 0 rgba(239, 204, 119, 0.3);
}
.team__list .member__img--miror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.team__list .member__name {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}
.team__list .member__job {
  font-size: 1.6rem;
}
.team__list .member__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  .team__list {
    display: flex;
    align-items: center;
    gap: 1vh;
  }
  .team__list .team__item {
    justify-content: space-between;
    width: calc(300px + 50vw);
    flex-direction: row;
    gap: 0;
  }
  .team__list .team__item:last-child .member__identity {
    flex-direction: row-reverse;
    text-align: right;
  }
  .team__list .team__item:last-child .member__img {
    transform: scaleX(1);
  }
  .team__list .team__item:last-child .member:first-child .member__identity {
    flex-direction: row;
    text-align: left;
  }
  .team__list .team__item:last-child .member:first-child .member__img {
    transform: scaleX(1);
  }
  .team__list .member {
    width: 300px;
  }
  .team__list .member__img {
    width: calc(3rem + 5vh);
  }
  .team__list .member--moad {
    align-self: center;
  }
}

@keyframes infoTransitionIn {
  from {
    display: flex;
    right: -500vw;
  }
  to {
    display: flex;
    right: -400vw;
  }
}
@keyframes infoTransitionOut {
  from {
    display: flex;
    right: -400vw;
  }
  to {
    display: none;
    right: -500vw;
  }
}
.projects__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #232323;
  z-index: 1;
  padding: 1.5rem;
  margin-top: 0;
}
.projects__title__img {
  width: 35%;
}
@media screen and (min-width: 992px) {
  .projects__title__img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .projects__title__text {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .projects__title {
    text-align: left;
    padding: 0;
    font-family: Modernist;
    background: none;
    font-weight: bold;
    font-size: 3.6rem;
  }
}
.projects__desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .projects__desc {
    display: block;
    margin-bottom: 4.8rem;
    width: 64%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .projects__desc {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .projects {
    display: none;
  }
  .projects__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: calc(45vh - 300px);
  }
}
.projects .project {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}
.projects .project__figure figcaption {
  width: 100%;
}
.projects .project__img {
  border-radius: 22px;
  margin-bottom: 2rem;
  max-width: 400px;
  width: 100%;
}
.projects .project__title {
  font-size: 2rem;
}
.projects .project__input:checked ~ .info-project {
  display: flex;
  right: -400vw;
  animation-name: infoTransitionIn;
}
.projects .project__input:not(:checked) ~ .info-project {
  animation-name: infoTransitionOut;
}
.projects .project .info-project {
  z-index: 10;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -500vw;
  animation-duration: 0.5s;
  background-color: #ffffff;
  color: #000000;
}
.projects .project .info-project__header {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  padding-right: 3rem;
  border-radius: 0 0 5vw 5vw;
}
.projects .project .info-project__header--callteaser {
  background-color: #5071ff;
}
.projects .project .info-project__header--sophrologue {
  background-color: #4d5286;
}
.projects .project .info-project__back {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.projects .project .info-project__back span {
  display: inline-block;
  background-color: white;
  height: 0.3rem;
  border-radius: 1px;
}
.projects .project .info-project__back span:first-child {
  width: 13px;
  transform: translateY(7px) translateX(9px) rotate(-40deg);
}
.projects .project .info-project__back span:nth-child(2) {
  width: 22px;
  transform: translateX(2px);
}
.projects .project .info-project__back span:last-child {
  height: 0.35rem;
  width: 13px;
  transform: translateY(-7px) translateX(9px) rotate(40deg);
}
.projects .project .info-project__article {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.projects .project .info-project__title {
  font-size: 2.4rem;
  font-weight: bold;
}
.projects .project .info-project__title--callteaser {
  color: #5071ff;
}
.projects .project .info-project__title--sophrologue {
  color: #4d5286;
}
.projects .project .info-project__link {
  color: #000000;
  align-self: flex-end;
  margin-top: 1rem;
}
.projects .project .info-project__logo {
  width: 100%;
  height: calc((100vw - 60px) / 1.5);
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.projects .project .info-project__logo--callteaser {
  background-color: #5071ff;
}
.projects .project .info-project__logo--sophrologue {
  background-color: #4d5286;
}
.projects .project .info-project__mockup {
  border-radius: 3vw;
}
.projects .project .info-project__type {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
}
.projects .project .info-project .tags-project {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.projects .project .info-project .tags-project .tag-project {
  display: flex;
  gap: 1rem;
}
.projects .project .info-project .tags-project .tag-project__title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.projects .project .info-project .tags-project .tag-project__icon {
  width: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.sophrologue,
.callteaser {
  display: none;
}
@media screen and (min-width: 992px) {
  .sophrologue,
.callteaser {
    display: block;
  }
  .sophrologue__title,
.callteaser__title {
    font-size: 2.8rem;
    width: fit-content;
    margin-bottom: 10px;
  }
  .sophrologue__title span,
.callteaser__title span {
    display: block;
    height: 14px;
    z-index: -1;
    position: relative;
    top: -10px;
    left: -8px;
  }
  .sophrologue__title .s,
.callteaser__title .s {
    background-color: #F6A6B7;
    width: 66%;
  }
  .sophrologue__title .c,
.callteaser__title .c {
    background-color: #5071ff;
    width: 80%;
  }
  .sophrologue .content,
.callteaser .content {
    display: flex;
    gap: 40px;
    margin-top: calc(35vh - 255px);
  }
  .sophrologue .content__imgs,
.callteaser .content__imgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sophrologue .content__imgs img,
.callteaser .content__imgs img {
    border-radius: 20px;
    max-height: 30vh;
    align-self: center;
  }
  .sophrologue .content-desc,
.callteaser .content-desc {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }
  .sophrologue .content-desc__title,
.callteaser .content-desc__title {
    font-size: 3.2rem;
    font-weight: bold;
  }
  .sophrologue .content-desc__title .year,
.callteaser .content-desc__title .year {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  .sophrologue .content-desc__desc,
.callteaser .content-desc__desc {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 100px;
    max-width: 700px;
  }
  .sophrologue .content-desc .point,
.callteaser .content-desc .point {
    display: flex;
    gap: 16px;
  }
  .sophrologue .content-desc .point__img,
.callteaser .content-desc .point__img {
    align-self: center;
  }
  .sophrologue .content-desc .point__desc,
.callteaser .content-desc .point__desc {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    gap: 10px;
  }
  .sophrologue .content-desc .point__desc p,
.callteaser .content-desc .point__desc p {
    font-weight: bold;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: #232323;
}
@media screen and (min-width: 992px) {
  .contact {
    display: block;
  }
}
.contact__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #232323;
  z-index: 1;
  padding: 1.5rem;
  margin-top: 0;
}
.contact__title__img {
  width: 35%;
}
@media screen and (min-width: 992px) {
  .contact__title__img {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .contact__title__text {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .contact__title {
    text-align: left;
    padding: 0;
    font-family: Modernist;
    background: none;
    font-weight: bold;
    font-size: 3.6rem;
  }
}
.contact__desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact__desc {
    display: block;
    margin-bottom: 4.8rem;
    width: 64%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1400px) and (min-height: 800px) {
  .contact__desc {
    font-size: 1.8rem;
  }
}
.contact-infos {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact__content {
    display: flex;
    justify-content: space-between;
  }
  .contact-infos {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    gap: 20px;
    margin-top: 40px;
  }
  .contact-infos__txt {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 1500px) {
  .contact-infos__txt {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 992px) {
  .contact-infos__big {
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 992px) and (min-width: 1500px) {
  .contact-infos__big {
    font-size: 3rem;
  }
}
.contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .contact .form {
    max-height: 52vh;
    position: relative;
    justify-content: space-evenly;
    height: calc(90vh - 300px);
  }
}
.contact .form__img {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact .form__img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: calc(-45vh * 0.48);
    max-height: 45vh;
    width: auto;
  }
}
.contact .form__title {
  display: none;
}
.contact .form__label {
  width: 75%;
  margin: 2rem;
}
.contact .form__input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  display: block;
  width: 75%;
  color: white;
  font-size: 1.6rem;
  font-family: Modernist;
  margin-bottom: 20px;
  height: 40px;
}
.contact .form__input--msg {
  height: auto;
}
.contact .form__input:focus {
  outline: none;
}
.contact .form__submit {
  background: none;
  margin: auto 0;
  padding: 1.25rem 2.5rem;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  display: block;
  font-family: Modernist;
}
@media screen and (min-width: 992px) {
  .contact .form {
    background-color: #e6e6e6;
    border-radius: 15px;
    color: #6c6c6c;
    width: 30%;
  }
  .contact .form__title {
    display: block;
    color: #232323;
    font-size: 2.8rem;
    margin: 2rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .contact .form__title {
    font-size: 3.6rem;
    margin: 3rem;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact .form__title {
    font-size: 2.8rem;
    margin: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .contact .form__input {
    border-bottom: 2px solid #9e9e9e;
    color: #232323;
    font-size: 1.8rem;
    height: 40px;
    font-family: Modernist;
    margin: 0;
  }
  .contact .form__input--msg {
    height: 120px;
  }
}
@media screen and (min-width: 992px) and (min-height: 902px) {
  .contact .form__input--msg {
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .contact .form__submit {
    border-radius: 100vw;
    color: white;
    transition-duration: 200ms;
    border: 2px solid #e6e6e6;
    background-color: var(--main-color);
    margin: 10px 0;
    font-size: 1.6rem;
  }
  .contact .form__submit:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    font-weight: bold;
  }
}
.contact-footer {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 25px 25px 0 0;
  padding: 1.5rem 0;
  color: black;
  position: relative;
  overflow: hidden;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .contact-footer {
    height: 200px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    z-index: -1;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact-footer {
    height: 140px;
  }
}
.contact-footer__waves {
  position: absolute;
  width: 300px;
}
.contact-footer__waves--1back {
  top: -140px;
  left: -120px;
  transform: rotate(30deg);
}
.contact-footer__waves--1middle {
  top: -50px;
  left: -200px;
  transform: rotate(-75deg);
}
.contact-footer__waves--1front {
  top: -120px;
  left: -115px;
  transform: rotate(-25deg);
}
.contact-footer__waves--2back {
  bottom: -150px;
  right: -100px;
  transform: rotate(90deg);
}
.contact-footer__waves--2middle {
  bottom: -120px;
  right: -140px;
  transform: rotate(-110deg);
}
.contact-footer__waves--2front {
  bottom: -120px;
  right: -120px;
  transform: rotate(-90deg);
}
.contact-footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-footer__info div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .contact-footer__info {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    gap: 30px;
  }
  .contact-footer__info div {
    align-items: flex-start;
  }
}
.contact-footer__img {
  display: inline-block;
  width: 16%;
  height: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .contact-footer__img {
    width: 80px;
    margin: 0;
  }
}
.contact-footer .contact-footer__text {
  margin-bottom: 2rem;
  z-index: 1;
  color: #232323;
  transition-duration: 200ms;
}
.contact-footer .contact-footer__text:hover {
  color: var(--main-color);
}
@media screen and (min-width: 992px) {
  .contact-footer .contact-footer__text {
    width: max-content;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact-footer .contact-footer__text {
    font-size: 1.4rem;
  }
}
.contact-footer__mentions, .contact-footer__mentions:hover, .contact-footer__mentions:visited {
  margin-bottom: 1rem;
  z-index: 1;
  color: #232323;
}
.contact-footer__mentions {
  transition-duration: 200ms;
}
.contact-footer__mentions:hover {
  color: var(--main-color);
}
@media screen and (min-width: 992px) {
  .contact-footer__mentions {
    width: max-content;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact-footer__mentions {
    font-size: 1.4rem;
  }
}
.contact-footer .footer-menu, .contact-footer .footer-rs {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact-footer .footer-menu, .contact-footer .footer-rs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 992px) {
  .contact-footer .footer-menu {
    border-left: 1px solid #232323;
    margin-left: 40px;
    padding-left: 40px;
    margin-right: 40px;
    padding-right: 40px;
  }
  .contact-footer .footer-menu__title {
    font-size: 2.4rem;
    font-weight: bold;
  }
  .contact-footer .footer-menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6px 30px;
  }
  .contact-footer .footer-menu__ele {
    transition-duration: 200ms;
  }
  .contact-footer .footer-menu__ele:hover {
    color: var(--main-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact-footer .footer-menu__title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .contact-footer .footer-menu__ele {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .contact-footer .footer-rs__title {
    font-size: 2.4rem;
  }
  .contact-footer .footer-rs__title span {
    font-weight: bold;
  }
  .contact-footer .footer-rs__list {
    display: flex;
    gap: 16px;
  }
  .contact-footer .footer-rs__ele {
    width: 40px;
    height: 40px;
    background-color: #232323;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-footer .footer-rs__ele:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) and (max-height: 902px) {
  .contact-footer .footer-rs__title {
    font-size: 1.8rem;
  }
}

.mentions-legales {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mentions-legales .header {
  height: 85px;
  width: 100%;
  background-color: #232323;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .mentions-legales .header {
    height: 115px;
  }
}
.mentions-legales .mentions {
  padding: 0 30px;
  margin-top: 85px;
}
@media screen and (min-width: 992px) {
  .mentions-legales .mentions {
    margin-top: 125px;
    padding: 0 58px;
  }
}
.mentions-legales .mentions h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}
.mentions-legales .mentions article {
  padding-bottom: 30px;
}
.mentions-legales .mentions article h2 {
  font-family: "Modernist";
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.mentions-legales .mentions article p {
  line-height: 20px;
}
.mentions-legales .mentions article .spacing {
  display: block;
  margin-top: 10px;
}
.mentions-legales .mentions .rgpd p {
  padding: 6px 0;
}
@media screen and (min-width: 992px) {
  .mentions-legales .contact-footer {
    width: auto;
    position: relative;
    bottom: -2px;
  }
}

body {
  background-color: #232323;
  color: white;
  font-family: Modernist;
  font-size: 1.6rem;
}

h2 {
  font-family: Harella;
  font-size: 2.6rem;
  text-align: center;
  margin: 2rem 0;
}

main {
  position: relative;
}

button,
a {
  cursor: pointer;
}

.scroll {
  overflow: hidden;
  width: 100%;
}
.scroll__dots {
  display: none;
}
@media screen and (min-width: 992px) {
  .scroll__dots {
    position: fixed;
    left: 2vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
  }
  .scroll__dot {
    background-color: #e6e6e6;
    padding: 0;
    height: 1.5vh;
    width: 1.5vh;
    border: 2px solid #e6e6e6;
    border-radius: 100vmax;
    transition-duration: 500ms;
    transition-property: background-color;
  }
  .scroll__dot.is-selected {
    background-color: transparent;
    transition-duration: 500ms;
  }
}
.scroll__container {
  display: flex;
  flex-direction: row;
}

.page {
  min-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.line-break {
  display: block;
}

@media screen and (min-width: 992px) {
  .scroll__container {
    height: 100vh;
    display: block;
  }

  .page {
    position: relative;
    overflow-y: auto;
    min-width: auto;
    padding: 120px 7vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .page {
    padding: 140px 10vw 0;
  }
}